.main{
  background: radial-gradient(at center center, #2d7e9270 0%, #1c40617c 100%), url("./images/125.jpg");
  height: 100vh;
  background-position: center;
}
.showcase{
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.showcase h1{
  font-size: 64px;
  color: white;
  font-weight: normal;
  letter-spacing: 3px;
}
.showcase h2{
  font-size: 28;
  color: white;
  font-weight: lighter;
  letter-spacing: 4px;
}
.showcase p{
  color:white;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 50px;
}
.nav-link h4{
  color: aliceblue;
}
